body {
    background: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: violet;
    color: #fff;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
}

table {
    border: 2px solid black;
    border-radius: 5px;
} 

th, td {
    border: 2px solid violet;
    text-align: center;
    padding: 8px;
    margin: 0px;
}

mark {
    background-color: pink;
    color: green;
    padding: 4px;
    border-radius: 7px;
}

/* th {
    border: 1px solid blue;
}
tr {
    border: 2px soild pink;
} */